@import '../styles/colors.scss';

$radius: 0;

// INPUT OVERRIDES
$input-background-color: $ghost-gray;
$input-focus-box-shadow-size: none;
$input-border-color: transparent;
$input-hover-border-color: transparent;
$input-focus-border-color: $electric-blue; 
$input-shadow: none;
@import "../node_modules/bulma/bulma.sass";

