@import './functions.scss';

input {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  height: rem-calc(40);
  margin: 0 0 rem-calc(10);
  padding: rem-calc(12);

  border: 0;
  border-radius: 0;
  background-color: #f0f0f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-size: rem-calc(16);
  font-weight: normal;
  line-height: 1.5;
  color: color(dark-grey);
  -webkit-transition: border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s,border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
